body {
	height:100%;
	width:100%;
	background-color: black;
}

#container {
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100vh;
}

.square:hover {
	background-color: orange !important;
}

.homeicon {
	height: auto;
	width: 50px;
	top: 2vh;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	/*background-color: blue;*/
	position: fixed;
	z-index: 10;
}
.abouticon {
	left: 2vh;
	background-image: url('../img/question.png');
}
.nextstepsicon {
	right: 2vh;
	background-image: url('../img/arrow.png');
}

.popup {
	top: 20vh;
	width: 50vw;
	height: 60vh;
	min-width: 300px;
	min-height: 300px;
	overflow-y: scroll;
	background-color:  #e6e6e6;
	margin: 0 auto;
	z-index: 10;
	position: fixed;
	font-size: 20px;
	font-family: courier;
}

.abouttext {
	padding: 30px;
	margin-bottom: 30px;
}

.infopanel {
	height: 95vh;
	overflow: scroll;
	top: 2.5vh;
	right: 2.5vw;
	width: 30vw;
	position: fixed;
	background-color:  #e6e6e6;
	z-index: 10;
	font-size: 20px;
	font-family: courier;
}

.speechpanel {
	height: 50%;
/*	right: 390px;*/
	width: 500px;
	top: 200px;
	position: fixed;
	left: 35vw;
	background-color: #e6e6e6;
	z-index: 10;
	font-size: 18px;
	padding: 20px;
	font-family: courier;
	overflow-y: scroll;
}

#titlescreen {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	font-size: 18px;
	color: white;
	padding: 15%;
	font-family: courier;
	overflow-wrap: normal;
}

.titletext {
	width: 70%;
}


.messagebox {
	position: relative;
	width: 70%;
	padding: 10px;
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 4%;
}

.infotitle {
	padding: 20px;
}

.infobox {
	position: relative;
	width: 90%;
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 4%;
}

.symbolinfo {
	padding: 20px;
}

.companion:hover {
	border-bottom: 1px dashed;
}
.addMemLink:hover {
	border-bottom: 1px dashed;
}
#addMemorial {
	font-family: courier;
	margin-top: 5px;
	margin-left: 2px;
}

.speechbox {
	background-color: white;
	max-width: 225px;
	z-index: 5;
	position: absolute;
	font-family: courier;
}

/*rocks*/
.zone1 {
	background-color: #edeeed;
}

/*soil*/
.zone2 {
	background-color:  #d7d7d6;
}

/*trees*/
.zone3 {
	background-color: #535f47;
}

/*compost*/
.zone4 {
	background-color:  #f2bda2;
}

/*path*/
.zone5 {
	background-color:  #67573a;
}

/*water*/
.zone6 {
	background-color: #617dd1;
}

textarea {
	width: 50%;
}
